.searchbar{display:block;height:70px;padding:0;position:relative;right:0;top:0;width:100%;}
.searchbar input{background-color:rgba(255,255,255,.7);background-image:url(../img/48px-magnify.png);background-position:right 3px center;background-repeat:no-repeat;background-size:18px 18px;border-color:#000;border-style:solid;border-width:2px;display:block;font-size:15px;line-height:20px;padding:5px 25px 5px 5px;position:fixed;right:20px;top:17px;width:20%;}
.searchbar input:focus{background-color:#FFF;border-color:#333;outline:none;}
.playlist{display:inline-block;height:800px;margin:10px;padding:0;width:450px;}
.playlist .tracklist{height:800px;list-style-type:none;margin:0;padding:0;width:450px;}
.playlist .entry{background-color:rgba(90,90,90,0.5);border-color:#000;border-style:solid;border-width:2px;box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);display:block;float:left;font-family:Arial;height:50px;margin:5px;overflow:hidden;position:relative;width:400px;}
.playlist .entry:hover{border-color:#FADA72;cursor:pointer;}
.playlist .selected{border-color:#FADA72;}
.playlist .thumbnail{display:block;height:50px;left:0;position:absolute;top:0;width:50px;}
.playlist .label{color:#FFF;display:block;margin-left:55px;padding:2px;width:300px;}
.playlist .entry .button{color:#FFF;display:block;font-size:1.1em;height:50px;line-height:50px;position:absolute;right:0;text-align:center;top:0;width:50px;}
.playlist .entry .button:hover{color:#FADA72;cursor:pointer;}
.searchresults{display:inline-block;float:left;height:800px;margin:10px;padding:0;width:650px;}
.searchresults .hint{display:block;font-size:1.2em;line-height:1.2em;margin:50px auto;text-align:center;width:250px;}
.resultlist{height:800px;list-style-type:none;margin:0;padding:0;width:650px;}
.resultlist .entry{background-repeat:no-repeat;background-size:200px 200px;border-color:#000;border-style:solid;border-width:2px;box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);display:block;float:left;font-family:Arial;height:200px;margin:5px;overflow:hidden;position:relative;width:200px;}
.resultlist .overlay{background-color:rgba(30,30,30,.6);display:block;height:200px;margin:0;padding:0;position:relative;width:200px;}
.resultlist .meta{bottom:0;color:#FFF;display:block;height:100px;left:0;position:absolute;width:100%;}
.resultlist .label{display:block;padding:5px;}
.resultlist .rating{display:block;left:10px;position:absolute;top:10px;}
.resultlist .soundcloud-link{display:block;font-size:2em;height:50px;left:75px;line-height:50px;position:absolute;text-align:center;top:55px;width:50px;}
.resultlist .duration{bottom:5px;display:block;position:absolute;right:5px;text-align:right;}
.resultlist a:hover{color:#ff3a00;}
.resultlist .add-to-playlist-button{display:block;font-size:2em;position:absolute;right:10px;top:10px;}
.resultlist .add-to-playlist-button:hover{color:#ff3a00;cursor:pointer;}
.scroll-list{overflow-x:hidden;overflow-y:scroll;}
.scroll-list::-webkit-scrollbar{height:2px;width:2px;}
.scroll-list::-webkit-scrollbar-button{height:0;width:0;}
.scroll-list::-webkit-scrollbar-thumb{background:#e1e1e1;border:0 none #fff;border-radius:50px;}
.scroll-list::-webkit-scrollbar-thumb:hover{background:#fff;}
.scroll-list::-webkit-scrollbar-thumb:active{background:#000;}
.scroll-list::-webkit-scrollbar-track{background:#666;border:0 none #fff;border-radius:50px;}
.scroll-list::-webkit-scrollbar-track:hover{background:#666;}
.scroll-list::-webkit-scrollbar-track:active{background:#333;}
.scroll-list::-webkit-scrollbar-corner{background:transparent;}
.playlist .artist,.resultlist .artist{font-size:1.1em;}
.playlist .title,.resultlist .title{font-size:.8em;}
.resultlist a,.resultlist a:visited{color:#FFF;}
